.EstimatedTime{
  flex:2;
  color: #7c3730;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border-radius:4px;
  margin-top: 5px;

  &__eta{
    font-size: 4em;
    font-weight: bold;
  }

  &__subtle {
    font-size: 0.8em;
    opacity: 0.8;
  }
}

